*{
  margin: 0px;
  padding: 0px;
}
#logo{
  font-size: 30px;
  text-align: center;
  color: rgb(24, 95, 165);
  padding-right: 10px;
  border-right: 1px solid #378ADD;
}
#navbar{
  border: 1px solid #378ADD;
  border-radius: 10px;
  background-color: rgb(230, 241, 251);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-links{
  margin: 0px 10px 0px 10px;
}
.about, .projects{
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  background-color: #afcae5;
  color:rgb(22, 90, 158);
}
.contact{
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  background-color: rgb(63, 123, 184);
  color: white;
}

#hero{
  background-color: rgb(241, 239, 232);
  border: 1px solid rgb(136, 135, 128);
  border-radius: 10px;
  padding: 10px;
  display: flex;
}
#profile-pic{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid #B4B2A9;
  object-fit: cover;
  
}
#hero-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
#name{
  background-color: rgb(163, 162, 156);
  height: 50px;
  width: 300px;
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
}
#hero-titles{
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hero-title{
  background-color: rgb(207, 206, 200);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  list-style: none;
}
.bio-detail{
  background-color: rgb(211, 209, 199);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
#social-links{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#social-button{
  display: flex;
  justify-content: space-between;
}
#view-projects-btn{
  font-size: 20px;
  background-color: rgb(63, 123, 184);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}
#cv-download-btn{
  font-size: 20px;
  border: 2px solid rgb(63, 123, 184);
  color: rgb(63, 123, 184);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}
#other-links{
  display: flex;
}
.links{
  display: flex;
  text-decoration: none;
  align-content: center;
  align-items: center;
  background-color: rgb(207, 206, 200);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 5px;
}

#about{
  background-color: #FAECE7;
  border: 1px solid #D85A30;
  border-radius: 10px;
  padding: 10px;
  color: #4A1B0C;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about-box{
  display: flex;
  justify-content: center;
}
#about-me{
  text-align: center;
}
#about-pic{
  height: 300px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #D85A30;
  object-fit: cover;
}
#about-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  font-size: large;
}
#about-highlights{
  display: flex;
  justify-content: center;
}
.highlight{
  border-radius: 10px;
  border: 1px solid #F0997B;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}
.about-title{
  font-size: 20px;
  padding: 4px;
}
.about-title-info{
  color: #993C1D;
  padding: 10px;
}

#skills{
  border: 1px solid rgb(127, 119, 221);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 237, 254);
  color:rgb(60, 52, 137);
}
#tech-skill{
  text-align: center;
}
#toolbox{
  display: flex;
  justify-content: center;
}
.toolboxs{
  border: 1px solid rgb(127, 119, 221);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}
.skill-title{
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-titles{
  border: 1px solid rgb(175, 169, 236);
  border-radius: 50px;
  padding: 3px 8px 3px 8px;
  margin: 5px;
  color: rgb(83, 74, 183);
  background-color: rgb(238, 237, 254);
}
#proficiency{
  font-size: 20px;
  text-align: left;
  margin: 10px;
}
#progresses{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px 0px 20px;
}
.progress-bar{
  color:rgb(95, 94, 90);
  font-size: 20px;
  margin: 5px;
}

#projects{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(0, 160, 121);
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
}
#project-title{
  color: rgb(8, 80, 65);
  text-align: center;
}
#project-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-boxes{
  border: 1px solid rgb(93, 202, 165);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.project-boxes-head{
  background-color: rgb(93, 202, 165);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.project-boxes-head-title{
  color: rgb(4, 52, 44);
}
.project-boxes-head-sub-title{
  color: rgb(8, 80, 65);
}